/* Global styles */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222425;
    /* Background color */
    color: #FDF6E0;
    /* Main text color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    overflow: auto;
    /* Prevent scrollbars */
}

/* Animation keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Animation for line change */
.line-change {
    animation: growAndShrink 0.5s ease-in-out;
}

@keyframes growAndShrink {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

/* Header styles */
header {
    position: absolute;
    top: 10px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FDF6E0;
    animation: fadeIn 1s ease-in-out;
}

/* Logo container */
.logo-container {
    display: flex;
    gap: 34.5px;
}

.logo {
    height: 40px;
    animation: fadeIn 1s ease-in-out;
    margin-top: 10px;
}

/* Navigation links */
.link-container {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.link-container a {
    color: #93BBBC;
    /* Secondary text color */
    text-decoration: none;
    font-size: 1.2rem;
    animation: fadeIn 1s ease-in-out;
}

.link-container .separator {
    margin: 0 10px;
    color: #93BBBC;
    /* Secondary text color */
    font-size: 1.2rem;
    animation: fadeIn 1s ease-in-out;
}

/* Main heading */
.main-heading {
    text-align: center;
    margin: 100px 100px 0px 100px;
    color: #FDF6E0;
    animation: fadeIn 1s ease-in-out;
}

/* Main content styles */
.center-rectangle {
    position: relative;
    background: #93BBBC;
    /* Background color for rectangle */
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 50px;
    text-align: left;
    width: 500px;
    max-width: 90%;
    color: #FDF6E0;
    animation: slideIn 1s ease-in-out;
}

/* Icons container */
.icon-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.update-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    animation: fadeIn 1s ease-in-out;
}

.question-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    animation: fadeIn 1s ease-in-out;
}

/* Individual line styles */
.line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 15px;
    background-color: #222425;
    /* New background color for each line */
    border-radius: 10px;
    /* Rounded corners */
    color: #FDF6E0;
    animation: fadeIn 1s ease-in-out;
}

.icon {
    height: 20px;
    margin-right: 20px;
    animation: fadeIn 1s ease-in-out;
}

.text {
    font-size: 1.3rem;
    margin-right: auto;
    color: #FDF6E0;
    animation: fadeIn 1s ease-in-out;
}

/* Pricing and labels */
.price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
    color: #FDF6E0;
    animation: fadeIn 1s ease-in-out;
}

.price-line {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5px;
    color: #FDF6E0;
    animation: fadeIn 1s ease-in-out;
}

.price {
    font-size: 1.2rem;
    margin-right: 5px;
    text-align: right;
    color: #FDF6E0;
    animation: fadeIn 1s ease-in-out;
}

.label {
    font-size: 1rem;
    text-align: right;
    color: #FDF6E0;
    animation: fadeIn 1s ease-in-out;
}

/* Button styles */
.link_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link_wrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #93BBBC;
    /* Button background color */
    text-align: center;
    color: #fdf6e0;
    /* Button text color */
    letter-spacing: 1px;
    border: 3px solid #fdf6e0;
    /* Match button border color */
    border-radius: 12px;
    transition: background-color 0.2s, color 0.2s;
    animation: fadeIn 1s ease-in-out;
}

.link_wrapper a:hover {
    background-color: #222425;
}

.link_wrapper a:active {
    background-color: #93BBBC;
    color: #FDF6E0;
}

/* Separators */
hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 15px 0;
    color: #FDF6E0;
    animation: fadeIn 1s ease-in-out;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #333;
    color: #fdf6e0;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    position: relative;
    animation: fadeIn 1s ease-in-out;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.close-button {
    color: #fdf6e0;
    /* Adjust close button color to match text */
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #aaa;
    text-decoration: none;
}

/* Styles for the message container (popup) */
.message-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fdf6e0;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
    display: none;
}

.message-container.show {
    opacity: 1;
    display: block;
}

/* Footer text styles */
.footer-text {
    position: relative;
    bottom: 10px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
    margin-bottom: 10px;
    margin-top: auto;
}

.footer-text p {
    color: #FDF6E0;
    margin: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-size: 12px;
    animation: fadeIn 1s ease-in-out;
}

.footer-text p a {
    color: #93BBBC;
    text-decoration: none;
    margin-left: 5px;
    display: inline-block;
    font-size: 12px;
    text-transform: none;
    animation: fadeIn 1s ease-in-out;
}

.last-update {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #FDF6E0;
    animation: fadeIn 1s ease-in-out;
}

/* Responsive styles */
@media (max-width: 600px) {
    .center-rectangle {
        width: 90%;
        padding: 20px;
        margin: 20px 0px 30px 0px;
    }

    .center-rectangle h2,
    .main-heading,
    .line,
    .text,
    .price,
    .label {
        font-size: 100%;
    }

    .main-heading {
        font-size: 0.85rem;
        margin: 100px 50px 00px 50px;
        text-align: center;

    }

    .line {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .text {
        font-size: 0.85rem;
        margin-right: auto;
    }

    .price-container {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
    }

    .price-line {
        justify-content: flex-end;
        width: auto;
    }

    .price {
        font-size: 0.70rem;
        color: #FDF6E0;
        margin-right: 5px;
        text-align: right;
    }

    .link_wrapper {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }

    .link_wrapper a {
        width: 60px;
        height: 40px;
        line-height: 40px;
        border-radius: 10px;
        font-size: 70%;
    }

    .logo {
        height: 30px;
        
    }

    .link-container a,
    .link-container .separator {
        font-size: 0.9rem;
    }

    /* Responsive styles for the message container */
    .message-container {
        width: 80%;
        font-size: 0.9rem;
        padding: 10px 15px;
        text-align: center;

    }

    .last-update {
        text-align: center;
        font-size: 0.9rem;
        margin-bottom: 15px;
        color: #FDF6E0;
        animation: fadeIn 1s ease-in-out;
    }
}
